
# FVM Version Cache
.fvm/
.dart_tool/
build/
test/failures/
config/*.local.json
**/.dart_tool/
**/build/
!/.fvmrc
!/pubspec.lock
!/ios/Podfile.lock
!/.gitignore
!/Makefile
!/ios/Runner.xcodeproj/project.pbxproj
